{% extends "studio/_base.html" %}
{% load i18n i18n_fields wagtailcore_tags wagtailimages_tags %}

{% block content %}
<section class="st-section st-blog">
  <div class="st-container">
    <h1 class="st-section__title">Blog</h1>
    {% tr_richtext page "intro" as intro_html %}{% if intro_html %}<div class="st-section__intro">{{ intro_html }}</div>{% endif %}
    <ul class="st-postlist">
      {% for post in posts %}
        <li class="st-postcard">
          <a class="st-postcard__link" href="{{ page.url }}{{ post.slug }}/">
            {% if post.image %}<div class="st-postcard__thumb">{% image post.image fill-480x270 loading="lazy" %}</div>{% endif %}
            <div class="st-postcard__body">
              <time datetime="{{ post.date|date:'Y-m-d' }}">{{ post.date|date:"j M Y" }}</time>
              {% tr post "title" as t %}<h2 class="st-postcard__title">{{ t }}</h2>
              {% tr post "intro" as it %}{% if it %}<p class="st-postcard__excerpt">{{ it|truncatechars:160 }}</p>{% endif %}
            </div>
          </a>
        </li>
      {% empty %}
        <li class="st-empty">{% trans "No posts yet." %}</li>
      {% endfor %}
    </ul>
  </div>
</section>
{% endblock %}
