{% extends "_base.html" %}
{% load static %}

{% block extra_css %}<link rel="stylesheet" href="{% static 'css/autoral.css' %}">{% endblock %}
{% block body_class %}autoral{% endblock %}

{% block body %}
<header class="site-header">
  <div class="container-wide">
    <a class="brand" href="/">Victor H. Bilouro</a>
    <nav class="nav">
      <a href="/about/">About</a>
      <a href="https://tech.bilouro.com/">Tech</a>
      <a href="https://books.bilouro.com/">Books</a>
    </nav>
  </div>
</header>

<main class="container">
  {% block content %}{% endblock %}
</main>

{% include "_cross_nav.html" %}
{% endblock %}
